*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
 } 
 .bg-img{
   background-image: url('../images/balcony-6901071_1920.jpg');
   background-size: cover;   
   width: 100%;   
   height: 100vh;        
 } 
  
 nav {   
   display: flex; 
}
nav .nav-list{
   padding: 20px;
}
nav ul{
  display: flex;
  justify-content: space-between;    
}
 
 nav ul li {   
   list-style: none;
    transition: 1s;
    color: black;
    text-shadow: 0px 0px 05px cyan,
                 0px 0px 05px cyan,
                 0px 0px 04px cyan,
                 0px 0px 05px cyan;
 }

 nav ul li a{
   font-size: 1.5rem;
   text-decoration: none;
   color: black;
   font-weight: 600;
   transition: 0.5s;
 }
nav ul button{
   height: 45px;
   background-color: cyan;
   color: black;
   border-radius: 10px;
   padding: 10px;
   border: none;
   font-weight: 500;
   transition: all 0.6s;
} 

nav li :hover{   
   color: cyan;
   text-shadow: 0px 0px 05px black,
                 0px 10px 05px black,
                 0px 05px 4px black,
                 0px 0px 05px black;
}

.menu{
   display: none;
}
.bg-img h1{
   margin-top: 120px;
    font-size: 7em;
    color: black; 
    text-shadow: 0px 0px 05px cyan,
                 0px 0px 10px cyan,
                 0px 0px 20px cyan,
                 0px 0px 10px cyan; 
    font-weight: 700;              
 }
 
.bg-img h2{
    font-size: 2em;    
    color: black;
    font-weight: 900px;    
    text-shadow: 0px 0px 05px cyan,
                 0px 0px 10px cyan,
                 0px 0px 10px cyan,
                 0px 0px 10px cyan; 
    font-weight: 700;             
 }
 
 nav ul button:hover{
   background-color: transparent;
   border: solid rgba(168, 166, 166, 0.808) 1px;
   color: cyan;   
   cursor: pointer;
 }
 
.section-1 {    
    height: 630px;
    padding: 70px 20px;
    margin-top: 40px;
    height: auto;
 } 
 
.section-1 h4 {
    font-size: 25px;
    color: #1d89f5;     
}
 
.section-1 h5{
    font-size: 2.5em;
    color: black;    
    line-height: 60px;
 }
 
.section-1>p {
    width: 300px;
    color: rgb(190, 193, 193);    
    line-height: 40px;
 }
.section-1 .img-sec{
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
 }
  
.section-1  img {
    height: 400px;
    width: 100%;    
    border-radius: 15px;
    box-shadow: 8px 8px 12px;    
    transition: 1.5s;    
 }
 .pic1:hover{
   transform: translateX(-190px);   
   cursor: pointer;   
 } 
 .img2 {
    height: 340px;
    width: 330px;         
    border-radius: 15px;
    box-shadow: 8px 8px 12px;   
     z-index: -1;
    animation-name: aaa;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
 }

/* @keyframes aaa{
   from{margin-left: 0px; transition: 5s; opacity: 0;}
   to{margin-left: 500px;
   transition: 5s;}
   to{
      z-index: 100;
   }

}  */
 .card-section h6 {
    font-size: 2em;    
    color: #1d89f5;    
 }
 
 .card-section h5 {
    font-size: 2.5em;
    color: black; 
    margin-bottom: 20px;   
 }
.card-section .cards{
   padding: 10px;
}
.card-section .back-ground-img{
   background-image: url('../images/440010373.jpg');
   width: 100%;   
   height: 370px;
   background-size: cover;
   background-repeat: no-repeat;   
   border-radius: 15px;   
   transition: all 0.7s;
}
.upto {       
    height: auto;  
    overflow: hidden;
    border-radius: 15px;         
 }
 .upto img { 
    height: 370px; 
    width: 100%; 
    border-radius: 15px;
    transition: 1s;    
 }
.upto:hover img{
   transform: translateY(370px); 
   cursor: pointer;         
 }
 
 .card-section .card-content {
    padding: 15px 10px;
 }
 .card-section .card-content p{
    font-size: 25px;    
    line-height: 30px;    
} 
 .card-content li {
    font-size: 20px; 
    line-height: 30px;    
 } 
 .card-content button{
    height: 40px;
    width: 80%; 
    background-color: white;
    border: solid #2784f6 1px; 
    font-size: 20px; 
    color:#2784f6;
    text-align: center; 
    border-radius: 15px; 
    transition: all 0.6s;
 }
.card-content button:hover{
   background-color: #2784f6; 
   color: white;
   cursor: pointer;
} 

.section-2{
   padding: 15px;
}
video{       
   width: 100%;
   margin: 20px 0 30px 0;
   border-radius: 20px;
   box-shadow: 10px 10px 10px;
}  

.section-2 .food{ 
  margin-top: 10px;   
  border-radius: 15px;  
}
.section-2 img{
 width: 100%;
 height: 480px;
 border-radius: 15px;  
 box-shadow: 05px 05px 20px #000000; 
 transition: 0.8s;
}
.food img:hover {  
   transform: translateY(140px);
   border-radius: 15px;
   cursor: pointer;
}
.food2{   
   height: 480px;   
   margin-top: 150px;
   border-radius: 15px;   
}
.food2 img:hover{   
   transform: translateY(-140px);
   border-radius: 15px;
   cursor: pointer;
}

.section-2 .Delicious{   
   padding: 15px 05px 05px 05px;   
}
.section-2 h4{
   font-size: 3rem;
   color: #1d89f5;
   text-shadow: 03px 03px 08px;   
}

.section-2 h1{   
   font-size: 3.5rem;
   margin-top: 50px;   
   text-shadow: 05px 05px 05px;
}
.animation{
   overflow: hidden;     
}
.animation p{      
   font-size: 1.3rem;
   line-height: 30px;  
   color: rgb(190, 193, 193);
   transition: 1s;
   overflow: hidden;
   animation: abd 4s infinite 2s;
}
@keyframes abd{
   from{margin-left: 120px; color: rgb(255, 255, 255); font-size: 0.9rem;}
   to{right: 00px; color:#1d89f5;}
}
.section-3{
   padding: 20px;
}
.section-3 h3{
   font-size: 2.5rem;
   color: #1d89f5;
}
.section-3 h1{
   font-size: 3.3rem;
   color: black; 
}

.section-3 .abw{
   border-radius: 10px;
   overflow: hidden;
   transition: all 0.6s;  
   position: relative;  
}
.section-3 .abw img{
   width: 100%;
   height: 70vh;
   transition: all 0.6s; 
}
span{
   position: absolute;
   color: white;
   font-size: 40px;  
   top: 80%;
   left: 5%;
   z-index: 1;   
}
.section-3 .abw:hover img{
   transform: scale(1.1);
   cursor: pointer;
}
.contact{
   height: 300px;
   padding: 50px;
   /* text-align: center; */
   align-items: center;
}
.contact #reserve{
   height: 100px;
   width: 100%;
   border: black solid 0.1px;  
   border-radius: 10px;
   font-size: 25px;
   padding: 10px;
   display: flex;
   align-items: center;
   gap: 110px;
}

.contact #number{
   height: 40px;
   width: 35%;
   font-size: 1.5rem;
   border: #2784f6 solid 1px;
   border-radius: 20px;
   color: #2784f6;    
   transition: 0.5s; 
}
#number:hover{
   background-color: #2784f6; 
   color: white;
   cursor: pointer;
}
.card-section-2{
   height: auto;
   padding: 0 12px;
}

.abc{
   height: 400px;
   width: 100%;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}

.card-section-2 img{
   height: 400px;
   width: 100%;
   border-radius: 10px;   
   transition: 0.5s;
}
.opacity{
  height: 400px;
  width: 100%;   
  background-color: rgba(255, 255, 255, 0.2); 
  position: absolute;  
  top: 400px;
  border-radius: 10px;  
  transition: 0.7s;      
}
.opacity i{
   position: absolute;
   top: 45%;
   left: 43%;
   color: white;
}
 .abc:hover .opacity{   
   left: 0; 
   top: 0px;
  cursor: pointer; 
}

.card-section-2 .abc:hover img{   
   transform: scale(1.1);
}
.efg{
   height: 400px;
   width: 100%;
   border-radius: 10px;
   overflow: hidden;
   position: relative;
  }

.opacity2{
   height: 400px;
   width:  100%;
   position: absolute;
   top: 0px;   
   left: 400px;
   background-color: rgba(255, 255, 255, 0.2); 
   border-radius: 10px;
   transition: 0.7s;     
}
.opacity2 i{
   position: absolute;
   top: 45%;
   left: 43%;
   color: white;
}

.efg:hover .opacity2{
   left: 0px;
   cursor: pointer;             
} 

 .efg:hover img{
   transform: scale(1.1);
}

.hij{
   height: 400px;
   width: 100%;
   border-radius: 10px;
   overflow: hidden;
   position: relative; 
}

.opacity3{
  height: 400px;
  width: 100%;    
  background-color: rgba(255, 255, 255, 0.2); 
  position: absolute;
  top: 0;
  margin-top: 400px;
  border-radius: 10px;
  transition: 0.7s;   
}

.opacity3 i{
   position: absolute;
   top: 45%;
   left: 43%;
   color: white;
}

.hij:hover .opacity3{
   margin-top: 0px;
   cursor: pointer;
   transition: 1s;
}

.hij:hover img{
   transform: scale(1.1);
}
.jkl{
   height: 400px;
   width: 100%;
   border-radius: 10px;
   overflow: hidden;
   position: relative; 
}
.opacity4{
   transition: 0.7s;
   height: 400px;
   width:  100%;
   position: absolute;
   top: 0; 
   right: 400px;             
   background-color: rgba(255, 255, 255, 0.2); 
   border-radius: 10px;
}
.opacity4 i{
   position: absolute;
   top: 45%;
   left: 43%;
   color: white;
}
.jkl:hover .opacity4{
   right: 0;
   cursor: pointer;
}

.jkl:hover img{
   transform: scale(1.1);
}

footer{
   height: auto;
   background-color: black;
   padding: 50px 0 30px 0;
}
footer h3{
   font-size: 2rem;
   color: white;
   line-height: 100px;
}

footer .footer1{   
   color: white;
   font-size: 1.3rem;
   position: relative;  
}
footer .footer1 p{
   margin: 0;
}
b{  
   transition: 0.5s;   
}
 b::after{
   content: "";
   width: 127px;
   height: 3px;
   background-color: white;
   position: absolute;
   border-radius: 10px;
   left: 0;
   top: 100%;
   transition: 0.5s;
}
b:hover{
   color: #1d89f5;
   cursor: pointer;
}

b:hover::after{
   background-color: #1d89f5;
   color: #1d89f5;
   cursor: pointer;
}
.website{
   font-size: 20px;
   color: white;  
}

.Navigation{
   height: 200px;
   width: 50px;
   font-size: 20px;
   color: white;  
   line-height: 35px;  
}
.Navigation li{
   list-style: none;
   transition: 0.5s;
}

.Navigation li:hover{
   color: #1d89f5;
   cursor: pointer;
}
footer form .sub{
   display: flex;
   margin-bottom: 20px;
}
form input{
   height: 40px;
   width: 70%;   
   border: none;   
}
input::placeholder{
   font-size: 18px;      
   color:#1d89f5;
   text-align: center;
}

footer button{
   height: 40px;
   width: 25%;  
   border: none;
   background-color: #1d89f5;
   font-size: 15px;
   font-weight: bold;
   color: white;
   cursor: pointer;
}
footer .p-2{   
   color: white;  
   font-size: 1.5rem;
   margin: 0; 
}

.Copyright{
   color: white;
   margin-top: 20px;
   word-spacing: 04px;
   font-size: 20px;   
}
.Copyright::after{
   content: "ARSALAN";
   color: #1d89f5;
}
footer hr{
   color: white;
}
footer .icon{    
   color: white;  
   display: flex; 
   gap: 40px;
   justify-content: flex-end;
   align-items: center;
   padding: 30px 0 0 0;
}

.icon i{   
   /* height: 30px;    */
   cursor: pointer;
   transition: 0.7s;   
}
.icon i:hover{   
   color: #1d89f5;
   font-size: 45px;   
   cursor: pointer;   
}

/* .color{
   width: 40px;
   height: 30px;
   background-color: #1d89f5;
   margin-left: 20p;
   z-index: 1;
   position: relative;
} */

/* #twitter{
  position: absolute;
  right: 0;
  background-color: #1d89f5;
  width: 40px;
  height: 30px;
  top: 10px;
} */

#instagram:hover{
   color: #f51d77;
}

/* .hide-nav{
   width: 200p;
   height: 0px;
   position: absolute;
   top: 03%;   
   background-color: white;
   transition: 0.7s;
}

.hide-nav ul{
   background-color: white;
   height: 370px;
}

.hide-nav li{
   list-style-type: none;
   height: 40p;   
   margin-top: 10px;
   font-size: 35px;
   line-height: 35p;
   text-align: center;
   transition: 0.5s;
}

.hide-nav li:hover{
   background-color: #1d89f5;
   color: white;
   cursor: pointer;
}

.hide-nav input[type="checkbox"]{
   visibility: hidde;
}

.hide-nav input[type="checkbox"]:checked .hide-nav ul {
   display: none;
}


label i{
   margin-top: 20px;
} */

/* @media (max-width:500px){
   nav{
      display: none;
   }
  } */

  @media (min-width:1600px){
   .hide-nav{
      display: none;
   }
  }

  @media (max-width:500px){
   .hide-nav label + i{
      display: block;
   }
  }

  /* @media (max-width:500px){
   .hide-nav i{
      display: block;
   }
  } */